<h3>Comments</h3>
<% @post.comments.each do |comment| %>
  <div class="jumbotron">
    <p><strong><%= comment.username %></strong>: <%= comment.body %><%= link_to "X", [comment.post, comment],
                        method: :delete,
                        data: {confirm: 'You really want to delete this Comment?'},
                        :class => '' %>
</p>
  </div>
<% end %>
